header {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
}
body {
  text-align: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
button {
  background-color: #fcfefd;
  border: 2px solid #b606f6;
  border-radius: 8px;
  color: rgb(150, 10, 244);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
